@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --themeColor1: ;
    --themeColor2: ;
    --themeColor3: ;
    --themeColor4: ;

}
html{
    background-color: #9BE3DE;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 90%;
    min-height: 75% ;
    background-color: #BEEBE9;
}