@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;

}
:root{
    --themeColor1:white ;
    --themeColor2:white ;
    --themeColor3:black ;
    --themeColor4:white ;
    --textsize1:12px;
    --max-width : 1300px;

}
html{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

header{
    text-align: center;
    text-shadow: 5px 1px 7px red;
    color: white;
    padding:25px;
    height: 100px;
    top: 0px;
    width: 100%;
}
.main{
    margin: auto;
    max-width: var(--max-width);
}
nav{
    width: 82%;
    margin: 5% 0 0 0;
    display: flex;
    justify-content: right;
}
nav input[type="text"]{
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: none;
    margin:0 0 10px 0;
    padding: 3px;
    background-color: black;
    height: 35px;
    width: 460px;
    box-shadow: 0px 0px 10px white;
}
.main-title__section{
    text-align: center;
}
.main-aside{
    position:fixed;
    float: left;
    width:170px;
    border: 1px solid white;
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.menu li{
    padding: 15px;
}
.menu a{
    text-decoration: none;
}
.main-section{
    margin: auto;
    width: 950px;
    border: 1px solid white;
}
.main-general_movies{
    width:940px;
    height:300px;
    display: flex;
    flex-direction: row;
}
.post-movie{
    margin: 10px;
    width: 150px;
    height: 220px;
}
.post-movie:hover{
    transform: scale(1.1);
    transition: .2s;
}
.post-movie p {
    font-size:1rem;
}
.post-movie img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 25px;
    box-shadow: 1px 0px 7px black;
}
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: purple;
}