@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;

}
:root{
    --font-theme:'Montserrat', sans-serif ;
    --themeColor2:white ;
    --themeColor3:black ;
    --themeColor4:white ;
    --textsize1:12px;
    --max-width : 1300px;

}
html{
    font-family: var(--font-theme);
}
body{
    margin: 0px;
    padding: 0px;
    background: black;
    color: white;
}

header{
    text-align: center;
    text-shadow: 5px 1px 7px white;
    color: black;
    padding:25px;
    height: 100px;
    top: 0px;
    width: 100%;
}
.main{
    margin: auto;
    max-width: var(--max-width);
}
nav{
    width: 60%;
    margin: auto;
    display: flex;
}
.main-menu{
    display: flex;
    list-style-type: none;
    margin: auto;
}
.main-menu li a{
    padding: 1.2em;
    color: white;
    text-transform: uppercase;
    position: relative;
}
.main-menu li a:after{
    content: '';
    width: 0;
    height: 4px;
    background-color:white;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .5s;
    will-change: width;
}
.main-menu li a:hover:after{
    width: 100%;
}
 
.search-box{
    display: flex;
    flex-direction: row;
}


nav input[type="text"]{
    color: white;
    border: 1px solid white;
    font-family: var(--font-theme);
    background: transparent;
    height: 45px;
    width: 360px;
    border-radius: 10px 0 0 10px;
}
.search-box button{
    background:white;
    color: black;
    box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 5px black;
    height: 47px;
    width: 65px;
    border-radius: 0 10px 10px 0;
    border: 1px solid white;
    font-family: var(--font-theme);

}
.main-title__section{
    padding: 0.5em;
}
.title-category{
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    text-shadow: 0 0 8px white;
}
.title-category:hover{
    background-color: black;
}
.main-aside{
    position:fixed;
    float: left;
    width:170px;
}

.main-aside li a,  .main-aside li a:visited {
    color: white
}
.main-aside li:hover{
    background: white;
    border-radius: 10px 0 0 10px;
}
.main-aside li a:hover{
    color:black;
}
.category{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.main-menu li,.category li{
    padding: 15px;
}
.main-menu a ,.category a{
    text-decoration: none;
}
.main-section{
    margin: auto;
    width: 950px;
}
.main-favorites_movies, .main-trending_movies{
    width:940px;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    overflow-x:auto;
    overflow-y: none;
}
.main-general_movies::-webkit-scrollbar, .main-trending_movies::-webkit-scrollbar{
 height: 5px;
}
.main-general_movies::-webkit-scrollbar-track, .main-trending_movies::-webkit-scrollbar-track{
    border-radius: 100px;
   }
   .main-general_movies::-webkit-scrollbar-thumb, .main-trending_movies::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: white;
   }
.post-movie{
    margin: 10px;
    width: 150px;
    height: 220px;
}
.post-movie:hover{
    transform: scale(1.1);
    transition: .2s;
}

   .post-movie{
       margin: 10px;
       width: 150px;
       height: 220px;
   }
.post-movie p {
    font-size:1rem;
}
.post-movie img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 25px;
    box-shadow: 1px 0px 7px black;
}
footer{
    padding: 25px 0 25px 0 ;
    text-align: center;
    width: 100%;
}
footer a{
    font-size: 1.2em;
    text-decoration: none;
    color: purple;
}