@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
*{
    margin:0px;
    font-family: 'Grape Nuts', cur;
}
body{
    background-color: rgb(255, 255,255);
    color: black;
    min-height: 100vh; 
}

.title{
    text-align: center;
    font-size: 45px;
    text-shadow: 1px 1px 5px orange;
}
header>span{
    font-size: 45px;
    text-align: center;
    display: block;
}

.containerImg{
    background-color: white;
    box-shadow: 1px 1px 10px rgb(172, 126, 1);
    min-height: 300px;
    width: 250px;
    margin: 20px 0 0 0;
    position: relative;
    align-items: center;
}
.button {
    background-color: rgba(80, 79, 74, 0.336);
    width: 250px;
    height: 50px;
    border: 0px;
    position:absolute;
    bottom: 2px;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 1px 2px 2px orange;    
}
.button:hover{
    background-color: rgba(224, 188, 7, 0.897);
}

.button:active{
    background-color: rgba(255, 255, 254, 0.897);
}
.imageLoad{
    margin: 0px;
    width: 250px;
    height: 300px;
   }

#ramdomCat{
    margin: auto;
    border:2px solid rgb(102, 95, 95);
    width: 90%;
    min-height: 750px;
    padding: 10px;
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
} 
#ramdomCat div:hover{
    transform: scale(1.1);
    transition: .2s;
}

#favorite{
    margin: auto;
    border:2px solid rgb(102, 95, 95);
    width: 90%;
    min-height: 750px;
    padding: 10px;
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
}


